* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at top,
    rgb(89, 144, 245),
    rgb(184, 98, 243)
  );
}

/* App */
.app {
  width: 100%;
  max-width: 360px;
  height: 92vh;
  border-radius: 30px;
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;

  backdrop-filter: blur(25px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);

  animation: slideUp 1s ease;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location h2 {
  font-size: 30px;
  text-align: center;
}

.location p {
  text-align: center;
  font-size: 126x;
  opacity: 0.8;
}

/* Temp Section */
.temp-section {
  text-align: center;
  margin-top: 20px;
}

#temp {
  font-size: 100px;
  font-weight: bold;
  animation: fadeUp 1s ease;
}

/* Blob */
.blob {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: -30px;

  background: linear-gradient(180deg, #6dd5fa, #2980b9);

  border-radius: 30% 50% 40% 60% / 60% 40% 60% 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  animation: slideUp 1s ease;
}

.blob img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}

/* Glass Card */
.details-card {
  height: 185px;
  position: relative;
  bottom: -30px;
  padding: 20px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: slideUp 1s ease;
}

.cont {
  margin: 10px;
}

.box {
  background-color: blue;
}
/* Top Row */
.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.big {
  font-size: 26px;
}

/* Info */
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.info div {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

#emoji {
  font-size: 35px;
}
/* Animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
}

/* Responsive */
@media (max-width: 430px) {
  .blob {
    width: 250px;
    height: 250px;
  }
  .blob img {
    width: 200px;
  }
  .details-card {
    height: 200px;
  }
}

.glass {
  padding: 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
.searchbox {
  width: 250px;
  display: flex;
  position: relative;
}

.input {
  width: 210px;
  padding: 10px 20px;
}

.btn {
  width: 80px;
  background-color: rgb(51, 140, 195);
}

#boxContainer {
  margin-top: 20px;
}

#location:hover {
  cursor: pointer;
}

#boxContainer {
  margin-top: 20px;
  transition: 0.3s ease;
}

/* hidden state */
#boxContainer.active {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


/* flash screen  */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #5a8ff5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}